@model IEnumerable<JobSearchApp.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Jobs Applied</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobEntity.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobEntity.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Name)
            </td>
        </tr>
}
    </tbody>
</table>
